# Copy this file to '.env' and adjust your values here.

# Target maximum hourly price in USD
TARGET_PRICE=0.11
# The specific GPU model you are targeting
GPU_NAME=RTX_3090
# Maximum allowed hourly disk cost limit
MAX_DISK_COST_HR=0.016
# Disk size in GB
DISK_SIZE=34
# The Docker image to use
IMAGE=vastai/pytorch:@vastai-automatic-tag
# Comma-separated list of machine IDs to ignore
IGNORED_IDS=